.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu {
  align-items: center;
  background-color: #000;
  color: #FFF;
  display: flex;
  justify-content: space-evenly;
  height: 90px;
  width: 100%;
}

.panel {
  align-items: center;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.square {
  background-color: aquamarine;
  border: 1px solid black;
  height: 150px;
  width: 150px;
}

.enemy {
  background-color: red;
}