.container {
  background-image: url("../images/wall.png");
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu {
  align-items: center;
  background-color: #000;
  border-bottom: 5px solid #ffd700;
  color: #FFF;
  display: flex;
  justify-content: space-evenly;
  height: 90px;
  width: 100%;
}

.menu-lives {
  align-items: center;
  display: flex;
  justify-content: center;
}

.panel {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.square {
  background-color: #1AEAA5;
  border: 1px solid black;
  height: 150px;
  width: 150px;
}

.enemy {
  background-image: url("../images/ralph.png");
  background-size: cover;
}